<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/login.css">
    <title>PingMyFam || Login</title>
  </head>
  <body>
    <header>
      <h1>PingMyFam</h1>
    </header>
    <div class="mask">
      <div class="wrapper">
    <div class="container">
      <p>
        Welcome!
      </p>
      <form method="POST" action="http://localhost:8080/admin/login" accept-charset="utf-8">
        <div class="inputWrapper">
          <input type="email" class="email" name="email" placeholder="Email" required>
          <img src="assets/img/email.png">
        </div>
        <div class="inputWrapper">
          <input type="password" class="password" name="password" placeholder="PassKey" required>
          <img src="assets/img/padlock.png">
        </div>
        <button>Login</button>
        <div class="rememberMe">
          <p class="p">
            <input type="checkbox">
            Remember me
          </p>
        </div>
      </form>
    </div>
    </div>
    </div>
    <script src="js/login.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>